<!DOCTYPE html>
<html>

<head>

<title>Jannat Portfolio</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<header>

<nav>

<h1>Jannat Portfolio</h1>


<ul>

<li>
<a href="#home">Home</a>
</li>


<li>
<a href="#about">About</a>
</li>


<li>
<a href="#skills">Skills</a>
</li>


<li>
<a href="#projects">Projects</a>
</li>


<li>
<a href="#contact">Contact</a>
</li>


</ul>

</nav>

</header>


<section id="home">

<h2>
Welcome to My Portfolio
</h2>

<p>
I am a Software Developer and AI Enthusiast.
</p>

</section>



<section id="about">

<h2>
About Me
</h2>

<p>
Hi, I'm a final-year Information Engineering Technology student specializing in Artificial Intelligence, Machine Learning, and Web Development. I build intelligent applications using Python, Flask, and Machine Learning algorithms.

I enjoy creating real-world solutions, analyzing data, and developing software that combines AI with modern web technologies. I am always learning and improving my skills to become a better AI and Software Developer.
</p>

</section>



<section id="skills">

<h2>
My Skills
</h2>

<ul>

<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
<li>Python</li>
<li>Flask</li>
<li>REST APIS</li>
<li>Machine learningk</li>
<li>sickit-learn</li>
<li>pandas</li>
<li>NumPy</li>
<li>MySQl</li>
<li>Git and Git hub</li>
<li>Docker</li>


</ul>

</section>


<section id="projects">

<h2>My Projects</h2>


<div class="project-container">


<div class="project-card">

<h3>
AI Resume Screening System
</h3>

<p>
An AI based system that extracts resume information,
matches skills with job requirements and ranks candidates.
</p>

<p>
Technology:
Python, Flask, Machine Learning, SQLite
</p>

</div>



<div class="project-card">

<h3>
Image Classifier
</h3>

<p>
A deep learning application that classifies images using CNN model.
</p>

<p>
Technology:
Python, PyTorch, Streamlit
</p>

</div>

<div class="project-card">

<h3>
AI Customer Churn Prediction System
</h3>

<p>
n AI-powered machine learning system that analyzes customer behavior and predicts the probability of customer churn.</p>

<p>Technology: 
    Python | Scikit-learn | Pandas | Machine Learning | Flask
</p>



</div>
<div class="project-card">

<h3>
Dockerized  Website
</h3>

<p>
A  web application containerized using Docker for easy deployment and scalability.
</p>



</div>


</section>


<section id="contact">

<h2>Contact Me</h2>


<p>
Email:jannatzaman98@gmail.com
</p>


<p>
LinkedIn:
<a href="linkedin.com/in/jannat-zaman90441a340 ">
LinkedIn Profile
</a>
</p>


<p>
GitHub:
<a href="https://github.com/jannatzaman">
GitHub Profile
</a>
</p>



<h3>Send Me a Message</h3>


<form method="POST">


<input 
type="text" 
name="name" 
placeholder="Your Name"
>


<input 
type="email" 
name="email" 
placeholder="Your Email"
>


<textarea 
name="message" 
placeholder="Your Message">
</textarea>


<button type="submit">
Send
</button>


</form>


</section>


</body>

</html>