<!DOCTYPE html>
<html>

<head>
    <title>Messages</title>
</head>

<body>

<h1>Contact Messages</h1>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>
    <th>Action</th>
</tr>

{% for message in messages %}

<tr>

    <td>{{ message[0] }}</td>
    <td>{{ message[1] }}</td>
    <td>{{ message[2] }}</td>
    <td>{{ message[3] }}</td>

    <td>
        <a href="/edit/{{ message[0] }}">Edit</a>
        |
        <a href="/delete/{{ message[0] }}">Delete</a>
    </td>

</tr>

{% endfor %}

</table>

</body>

</html>